@media screen and (max-width: 600px) {
  /* ---------nav section-------- */
  nav > ul {
    display: none;
  }
  .bars-icon {
    display: block;
    font-size: 20px;
  }
  /* -------banner--------- */
  .banner {
    padding-bottom: 30px;
  }
  .banner-content h1 {
    font-size: 2rem;
  }
  .banner-field {
    grid-template-columns: 1fr;
    margin-top: 38px;
  }
  .search-btn {
    height: 52px;
  }
  /* -------popular-tour section------- */
  .popular-tour,
  .newsletter {
    flex-direction: column;
  }
  .popular-tour-img img,
  .newsletter-img img {
    width: 100%;
  }

  /* -------choose us section-------- */
  .choose-us {
    grid-template-areas:
      " hotel  hotel  hotel hotel "
      " location  location  location location "
      " price  price price price ";
  }
  .choose-us-content {
    max-width: 90%;
    margin: 0 auto;
  }
  /* ----footer styles----- */

  .footer-info{
    width: 85%;
}
}

/* -------------Tablet device view responsive------------- */
@media screen and (min-width: 601px) and (max-width: 992px) {
  /* -------nav section------ */
  nav > ul {
    display: none;
  }
  .bars-icon {
    display: block;
    font-size: 20px;
  }
  /* -----------banner section------- */
  .banner {
    padding-bottom: 30px;
  }
  .banner-field {
    grid-template-columns: 1fr;
    margin-top: 38px;
  }
  .search-btn {
    height: 52px;
  }
  /* --------popular-tour section------ */
  .popular-tour,
  .newsletter {
    flex-direction: column;
  }
  .popular-tour-img img,
  .newsletter-img img {
    width: 100%;
  }
}
